[calendars]

[[home]]
path = ~/.vdirsyncer/khal/home
type = discover
color =  light green

[[anniversaires]]
path = ~/.vdirsyncer/khal/anniversaires
type = discover
color = light blue

[locale]
timeformat = %H:%M
dateformat = %d/%m/%Y
longdateformat = %d/%m/%Y
datetimeformat = %d/%m/%Y %H:%M
longdatetimeformat = %d/%m/%Y %H:%M

[default]
timedelta = 7d

[highlight_days]
color = light green
default_color = light green
multiple = dark green
