[general]
status_path = "~/.vdirsyncer/status/"

[pair my_contacts]
a = "my_contacts_local"
b = "my_contacts_remote"
collections = ["from a", "from b"]

[storage my_contacts_local]
type = "filesystem"
path = "~/.vdirsyncer/khard"
fileext = ".vcf"

[storage my_contacts_remote]
type = "carddav"
url = "{{ caldav }}"
username = "{{ git_mail }}"
password.fetch = ["command", "gopass", "-o", "app/vdirsyncer"]

[pair my_calendars]
a = "my_calendars_local"
b = "my_calendars_remote"
collections = ["from a", "from b"]
metadata = ["color"]

[storage my_calendars_local]
type = "filesystem"
path = "~/.vdirsyncer/khal"
fileext = ".ics"

[storage my_calendars_remote]
type = "caldav"
url = "{{ caldav }}"
username = "{{ git_mail }}"
password.fetch = ["command", "gopass", "-o", "app/vdirsyncer"]
